---
const { title } = Astro.props;
import '../styles.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/Logo-valvulas-sn-fn.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} - Válvulas Cuevas VCJ</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <a href="/">
            <img src="/Logo-valvulas-sn-fn.png" alt="Válvulas Cuevas VCJ Logo" />
            <span>Válvulas Cuevas Jessi</span>
          </a>
        </div>
        <div class="nav-links">
          <a href="/">Inicio</a>
          <a href="/nosotros">Nosotros</a>
          <a href="/cotizacion">Cotización</a>
        </div>
      </div>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2025 Válvulas Cuevas VCJ. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
